@font-face {
  font-family: 'twbb-icons';
  src:
  url('fonts/twbb-icons.ttf?r1355s') format('truetype'),
  url('fonts/twbb-icons.woff?r1355s') format('woff'),
  url('fonts/twbb-icons.svg?r1355s#twbb-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.twbb-widget-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'twbb-icons' !important;
  speak: none;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.twbb-calendar.twbb-widget-icon:before {
  content: "\e900";
}
.twbb-call-to-action.twbb-widget-icon:before {
  content: "\e901";
}
.twbb-countdown.twbb-widget-icon:before {
  content: "\e902";
}
.twbb-featured-image.twbb-widget-icon:before {
  content: "\e903";
}
.twbb-flip-box.twbb-widget-icon:before {
  content: "\e904";
}
.twbb-form-maker.twbb-widget-icon:before {
  content: "\e905";
}
.twbb-map.twbb-widget-icon:before {
  content: "\e906";
}
.twbb-menu.twbb-widget-icon:before {
  content: "\e907";
}
.twbb-photo-gallery.twbb-widget-icon:before {
  content: "\e908";
}
.twbb-post-comments.twbb-widget-icon:before {
  content: "\e909";
}
.twbb-post-content.twbb-widget-icon:before {
  content: "\e90a";
}
.twbb-post-excerpt.twbb-widget-icon:before {
  content: "\e90b";
}
.twbb-post-info.twbb-widget-icon:before {
  content: "\e90c";
}
.twbb-post-navigation.twbb-widget-icon:before {
  content: "\e90d";
}
.twbb-posts.twbb-widget-icon:before {
  content: "\e90e";
}
.twbb-posts-archive.twbb-widget-icon:before {
  content: "\e90f";
}
.twbb-post-title.twbb-widget-icon:before {
  content: "\e910";
}
.twbb-pricing-table.twbb-widget-icon:before {
  content: "\e911";
}
.twbb-share-buttons.twbb-widget-icon:before {
  content: "\e912";
}
.twbb-site-logo.twbb-widget-icon:before {
  content: "\e913";
}
.twbb-site-title.twbb-widget-icon:before {
  content: "\e914";
}
.twbb-slider-wd.twbb-widget-icon:before {
  content: "\e915";
}
.twbb-testimonial-carousel.twbb-widget-icon:before {
  content: "\e916";
}
.twbb-wd-facebook-feed.twbb-widget-icon:before {
  content: "\e917";
}
.twbb-wd-instagram-feed.twbb-widget-icon:before {
  content: "\e918";
}
.twbb-animated-heading.twbb-widget-icon:before {
  content: "\e919";
}
.twbb-author-box.twbb-widget-icon:before {
  content: "\e929";
}
.twbb-blockquotes.twbb-widget-icon:before {
  content: "\e92a";
}
.twbb-login.twbb-widget-icon:before {
  content: "\e92b";
}
.twbb-media-carousel.twbb-widget-icon:before {
  content: "\e92c";
}
.twbb-nav-menu.twbb-widget-icon:before {
  content: "\e92d";
}
.twbb-price-list.twbb-widget-icon:before {
  content: "\e92e";
}
.twbb-search-form.twbb-widget-icon:before {
  content: "\e92f";
}
.twbb-share-button.twbb-widget-icon:before {
  content: "\e930";
}
.twbb-sitemap.twbb-widget-icon:before {
  content: "\e931";
}
.twbb-menu-button.twbb-widget-icon:before {
  content: "\e91a";
}
.twbb-bag-light.twbb-widget-icon:before {
  content: "\e91b";
}
.twbb-bag-medium.twbb-widget-icon:before {
  content: "\e91c";
}
.twbb-bag-solid.twbb-widget-icon:before {
  content: "\e91d";
}
.twbb-basket-light.twbb-widget-icon:before {
  content: "\e91f";
}
.twbb-basket-medium.twbb-widget-icon:before {
  content: "\e920";
}
.twbb-basket-solid.twbb-widget-icon:before {
  content: "\e921";
}
.twbb-cart-light.twbb-widget-icon:before {
  content: "\e922";
}
.twbb-cart-medium.twbb-widget-icon:before {
  content: "\e923";
}
.twbb-cart-solid.twbb-widget-icon:before {
  content: "\e924";
}
.twbb-play.twbb-widget-icon:before {
  content: "\e91e";
}
.twbb-arrow-up.twbb-widget-icon:before {
  content: "\e925";
}
.twbb-arrow-down.twbb-widget-icon:before {
  content: "\e932";
}
.twbb-search.twbb-widget-icon:before {
  content: "\e926";
}
.twbb-redo.twbb-widget-icon:before {
  content: "\e927";
}
.twbb-undo.twbb-widget-icon:before {
  content: "\e928";
}
.twbb-builder.twbb-widget-icon:before {
  content: "\e933";
}
.twbb-external.twbb-widget-icon:before {
  content: "\e934";
}
.twbb-edit.twbb-widget-icon:before {
  content: "\e935";
}
.twbb-check.twbb-widget-icon:before {
  content: "\e936";
}
.twbb-add_to_cart.twbb-widget-icon:before {
  content: "\e937";
}
.twbb-additional_information.twbb-widget-icon:before {
  content: "\e938";
}
.twbb-breadcrumbs.twbb-widget-icon:before {
  content: "\e939";
}
.twbb-custom_add_to_cart.twbb-widget-icon:before {
  content: "\e93a";
}
.twbb-menu_cart.twbb-widget-icon:before {
  content: "\e93b";
}
.twbb-product_categories.twbb-widget-icon:before {
  content: "\e93c";
}
.twbb-product_content.twbb-widget-icon:before {
  content: "\e93d";
}
.twbb-product_images.twbb-widget-icon:before {
  content: "\e93e";
}
.twbb-product_meta.twbb-widget-icon:before {
  content: "\e93f";
}
.twbb-product_prices.twbb-widget-icon:before {
  content: "\e940";
}
.twbb-product_rating.twbb-widget-icon:before {
  content: "\e941";
}
.twbb-product_related.twbb-widget-icon:before {
  content: "\e942";
}
.twbb-product_stock.twbb-widget-icon:before {
  content: "\e943";
}
.twbb-product_tabs.twbb-widget-icon:before {
  content: "\e944";
}
.twbb-product_title.twbb-widget-icon:before {
  content: "\e945";
}
.twbb-products.twbb-widget-icon:before {
  content: "\e946";
}
.twbb-short_description.twbb-widget-icon:before {
  content: "\e947";
}
.twbb-upsellls.twbb-widget-icon:before {
  content: "\e948";
}
.twbb-woocommerce_pages.twbb-widget-icon:before {
  content: "\e949";
}
.twbb-post-slider.twbb-widget-icon:before {
  content: "\e94a";
}
.twbb-spider-calendar.twbb-widget-icon:before {
  content: "\e94b";
}
.twbb-mailchimp.twbb-widget-icon:before {
  content: "\e94c";
}
.twbb-google-analytics.twbb-widget-icon:before {
  content: "\e94d";
}
.twbb-faq.twbb-widget-icon:before {
  content: "\e94e";
}
.twbb-ecommerce.twbb-widget-icon:before {
  content: "\e94f";
}
.twbb-team.twbb-widget-icon:before {
  content: "\e950";
}
.twbb-youtube.twbb-widget-icon:before {
  content: "\e951";
}

#wpadminbar #wp-admin-bar-twbb_builder>.ab-item:before {
  font-family: 'twbb-icons' !important;
  content: "\e933";
  top: 2px;
}
